.main-body{
   
    text-align: center;
}
.button-gen{
    color: white;
    background-color: royalblue;
    height: 30px;
}
.main-body h1{
    margin-top: 10px;
    margin-bottom: 20px;
}
.main-body input{
    height: 25px;
}
.fixed-div{
  
    width: 100%;
}
.lorem-div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media (max-width:450px){
   .lorem-div{
       width:90%;
   }
}